body {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root a {
    color: inherit;
}

.right_bar {
    top: 0;
    right: 0;
    widows: 10px;
    height: 100%;
    position: fixed;
    border-left: 10px solid #333333;
}

.left_bar {
    top: 0;
    left: 0;
    widows: 10px;
    height: 100%;
    position: fixed;
    border-left: 10px solid #333333;
}

.menu {
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
}

.btn_bar {
    position: fixed;
    display: flex;
    right: 10px;
    top: 20px;
}

.btn_bar a {
    position: relative;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .07em;
    margin-left: 2rem;
    text-decoration: none;
}

.btn_bar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
}

.btn_bar a:hover::after {
    animation: underlineSlide 1s infinite alternate ease-in-out;
}

.logo {
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
}

.logo img {
    height: 221px;
    width: 161px;
    transition: all .5s;
}

.logo img.logo-shrink {
    width: 80px;
    height: 110px;
}

.university_logo img{
    width: 84px;
    height: 82px;
}

.head_name_mark.logo-shrink {
    font-size: 10px;
}

.head_name_desc.logo-shrink {
    font-size: 10px;
}

.logo_link {
    height: auto;
    display: block;
}

.head_name {
    top: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.head_name div {
    font-family: sans-serif;
    transition: all 0.5s;
}

.head_name div:first-child {
    font-size: 4rem;
}

.head_name div:nth-child(2) {
    font-size: 1.4rem;
    bottom: 0;
}

.content {
    padding-top: 250px;
    width: 100%;
    /* padding-left: 100px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: start;
    position: relative;
}

.content1 {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.content1_head {
    font-family: sans-serif;
    font-size: 2rem;

}

.content1_desc {
    font-family: sans-serif;
    font-size: 1.4rem;
}

.content2 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}

.content2_desc {
    padding-left: 50px;
}

.content2.show {
    opacity: 1;
    transform: translateY(0);
}

.content3 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}

.content3_desc {
    padding-left: 50px;
}

.content3.show {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    width: 100%;
    /* bottom: 20%; */
    position: relative;
    text-align: center;
    padding: 60px 0;
}

.footer_content1 {
    padding: 30px;
}

.footer_content2 {
    padding: 30px;
    display: inline-block;
}

.contact_link {
    position: relative;
    text-decoration: none;
}

.contact_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
}

.contact_link:hover::after {
    animation: underlineSlide 1s infinite alternate ease-in-out;
}

.line {
    width: 100%;
    border-bottom: 2px solid black;
}

.footer_content3 {
    padding: 30px;
}

@keyframes underlineSlide {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    51% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.member1 {
    display: flex;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;
    align-items: start;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}

.member1.show {
    opacity: 1;
    transform: translateY(0);
}

.member1_desc,
.member2_desc {
    display: flex;
    padding-left: 10px;
    position: relative;
    flex-direction: column;
}

.member1_desc_title,
.member2_desc_title {
    position: relative;
    padding-bottom: 20px;
}

.member1_desc_thesis,
.member2_desc_thesis {
    position: relative;
}

.member2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;
    align-items: start;
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease;
}

.member2.show {
    opacity: 1;
    transform: translateY(0);
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    /* align-items: start; */

}

.abstract {
    position: relative;
}

.info_contact {
    display: flex;
    position: relative;
}

.contact_name {
    display: flex;
    position: relative;
}

.information {
    display: flex;
    flex-direction: column;
}

.message {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info_message {
    position: relative;
    width: 300px;
    height: 300px;
    font-size: 1.4rem;
    padding: 10px;
}

.info_name {
    position: relative;
}

.info_institute {
    position: relative;
    padding-top: 50px;
}

.info_mail {
    position: relative;
    padding-top: 50px;
}

.info_question {
    position: relative;
    margin-top: 50px;
}

.info_submit {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    padding: 10px 10px 10px 10px;
}

.btn_top {
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 255, 0.637);
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}